<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/web3@1.0.0-beta.30/src/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/truffle-hdwallet-provider@0.0.3/index.min.js"></script>
    <script src="/js/index.js"/>
  </body>
</html>
